*{
  margin:0;
  padding: 0;
  
}
.body{
  width: 1260px;
  min-height: 86.3vh;
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start ;
  gap:24px;
  background-color: rgb(33, 57, 85);
}

